<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iMSGraphicsEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macMSGraphicsEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>macMSGraphicsEngineTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6101C8691F3CC9E30011117A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6122CA1B1EAA4EB40002F881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6125681D1F3FBA6700ED5962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6125683D1F3FBC2C00ED5962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6125684C1F3FBC3F00ED5962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61314EE31ED64B22001A3519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6174E4401F3749B600B1BD5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6174E4521F374C1300B1BD5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617DE28E1EE973C100189A63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617DE29D1EE973F000189A63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>619CFB741F38C363004FACBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61D6CDE31F32368C0021133D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61D6CDEB1F32368D0021133D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61DF1ED21ED66B1C008333A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61DF1EF01ED66B80008333A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
