<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>MSMatrixND_Tests</key>
		<dict>
			<key>testPerformanceGetColumnMajor1DMatrix</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23677</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testPerformanceInitializeFromAnotherMatrix</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.62013</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
		</dict>
		<key>macMSGraphicsEngineTests</key>
		<dict>
			<key>testPerformanceExample</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.541e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
		</dict>
		<key>mathTests</key>
		<dict>
			<key>testInitalizerInitWithZero</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11321</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testInitalizerInitWithZeroExcept</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12596</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testInitializerInitWithArrayOfComponents</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10115</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testInitializerInitWithComponents</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10576</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testInitializerInitWithDimmension</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10279</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testInitializerInitWithOnes</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11924</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testInitializerInitWithVector</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11915</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testSafeVectorMultiplicationPerformance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.044884</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
			<key>testVectorMultiplicationPerformance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.012751</real>
					<key>baselineIntegrationDisplayName</key>
					<string>macMSGraphicsEngine Bot – Integration 9</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
